.container {
  width: 1280px;
  height: 231px;
}

.content {
  width: 855px;
  height: 138px;
  margin: auto;
}

.text {
  width: 855px;
  height: 28px;
  margin: 0 42px 63px 43px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}

.logo {
  width: 272px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 120px;
  height: 40px;
  padding: 1px;
}

}
