#header .container {
  width: 1280px;
  height: 700px;
}

#header .content {
  width:1280px;
}
#header {background-image: url(img-meeting/meeting.png) ;
         width: 1280px;
         height: 700px;}
.img-meeting/meeting.png {  
                    width: 1280px;
                    height: 700px;
                    padding: 0 0 250px;
                    object-fit: contain;
                    margin: 0;
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;}

#header .top {
  width: 924px;
  height: 160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#header .top-left {
  display: flex;
  margin-top: 20px;
}

#header .marketplace {
  width: 96px;
  height: 20px;
  margin: 5px 0px 14px 32px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}

#header .business {
  width: 96px;
  height: 20px;
  margin: 5px 16px 14px 14px;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}

#header .top-right {
  display: flex;
  margin-top: 20px;
}

#header .download {
  width: 109px;
  height: 28px;
  padding: 9px 5px 9px;
  border-radius: 8px;
  border: solid 2px #ff4438;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ff4438;
}

.offer {
  width: 130px;
  height: 28px;
  margin: 0 0 0 16px;
  padding: 9px 16px 11px;
  border-radius: 8px;
  background-color: #ff4438;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ffffff;
}

#header .bottom {
  width: 924px;
  margin: auto;
   
}
#header .mega-title {
  width: 620px;
  height: 210px;
  margin: 0 0 24px;
  font-family: Poppins;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}

#header .download1 {
  width: 109px;
  height: 28px;
  margin: 24px 481px 0 0;
  padding: 9px 16px 11px;
  border-radius: 8px;
  background-color: #ff4438;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ffffff;
}
