.container {
  width: 1280px;
  height: 700px;
  padding: 0 0 0 170px;
  background-color: #276ef1;
}

.content { 
  width: 1110px;
  margin: auto;
  padding: 180px 0 157px 0;
  display: flex;
  justify-content: space-between;
}

.title {
  width: 460px;
  height: 128px;
  margin: 0 0 16px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
}

.subtitle {
  width: 460px;
  height: 60px;
  margin: 16px 0;
  font-family: Rubik;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

.know {
  width: 231px;
  height: 28px;
  padding: 15px 12px 15px;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.75;
  color: #276ef1;
  background-color: #ffffff;"
}