#press .container {  
  width: 1280px;
  height: 152px;
  padding-top: 20px;
}

#press .content {
  width: 940px;
  margin: auto;
  }

#press .things {
  width: 940px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
 }



