.container {  
  width: 1280px;
  height: 152px;
}

.content {
  width: 940px;
  margin: auto;
  }

.things {
  width: 940px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
 }



