#show0 .container {
  width: 100%;
  height: 564px;
  padding:64px 0 0 0;
}

#show0 .content {
  width: 1280px;
  margin: auto;
}

#show0 .title {
  width: 960px;
  height: 64px;
  margin: 0 140px 40px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #000000;
}

#show0 .demonstration {
  width: 940px;
  margin:auto;
  display: flex;
  justify-content: space-between;
 }

#show0 .things{
  width: 220px;
}

#show0 .img{
  width: 220px;
  height: 160px;
  margin: 0 0 8px;
}

#show0 .yee {
  width: 220px;
  height: 28px;
  margin: 8px 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  color: #000000;
}

#show0 .subtitle {
    width: 220px;
  height: 40px;
  margin: 8px 0 0;
  font-family: Rubik;
  font-size: 16px;
  line-height: 1.25;
  color: #b2b2b2;
}