#work2 .container {
  width: 1280px;
  height: 740px;
}

#work2 .content {
  width:816px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#work2 .text {
  width: 460px;
  height: 280px;
}


#work2 .number {
  width: 460px;
  height: 64px;
  margin: 30px 20px 0 0;
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ff4438;
}

#work2 .title {
  width: 460px;
  height: 140px;
  margin: 0 0 16px;
  font-family: Poppins;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}

#work2 .subtitle {
  width: 460px;
  height: 60px;
  margin: 16px 0 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}