#work0 .container {
  width: 1280px;
  height: 192px;
  padding: 20px 0 0 20px;
}

#work0 .content {
  width: 660px;
  margin: auto;
}

#work0 .title {
  width: 660px;
  height: 64px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}